body {
    font-family: Arial, sans-serif;
    background: #111;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .contenedor {
    background: #222;
    padding: 20px;
    border-radius: 10px;
    width: 350px;
    box-shadow: 0 0 10px #000;
  }
  
  input, select, button {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    border: none;
    border-radius: 4px;
  }
  
  